---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Facts from '../components/Facts.astro';
import Skills from '../components/Skills.astro';
import Resume from '../components/Resume.astro';
import Portfolio from '../components/Portfolio.astro';
import Contact from '../components/Contact.astro';
import Testimonials from '../components/Testimonials.astro';
import Services from '../components/Services.astro';
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Daniel Bojorquez</title>
  <meta name="description" content="Daniel Bojorquez - Full stack developer with 7 years of experience in writing efficient code. Expertise in frontend (Angular, SvelteJS) and backend (Laravel, Phalcon, ExpressJS) technologies. Proficient in JavaScript, HTML, CSS, MySQL, and CI/CD processes. Strong in database management. Effective in self-managing and collaborating in team projects, even under pressure to fix bugs.">
  <meta name="keywords" content="Full Stack Developer, Daniel Bojorquez, Web Developer, Frontend, Backend, SvelteJS, Angular, ReactJS, NextJS, PHP, Laravel, Phalcon, MySQL, Docker, DevOps, AWS, HTML, CSS, JavaScript, Web Development, Hermosillo, Sonora, Mexico">
  
  <!-- Favicons -->
  <link href="/assets/img/favicon.ico" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <Header />
  <Hero />

  <main id="main">
    <About />
    <Facts />
    <Skills />
    <Resume/>
    <!-- <Portfolio /> -->
    <Services />
    <!-- <Testimonials /> -->
    <Contact />
  </main>

  <Footer />

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js" is:inline></script>
  <script src="/assets/vendor/aos/aos.js" is:inline></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" is:inline></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js" is:inline></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js" is:inline></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js" is:inline></script>
  <script src="/assets/vendor/typed.js/typed.min.js" is:inline></script>
  <script src="/assets/vendor/waypoints/noframework.waypoints.js" is:inline></script>
  <script src="/assets/vendor/php-email-form/validate.js" is:inline></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js" is:inline></script>

</body>

</html>
