<section id="facts" class="facts">
  <div class="container">
    <div class="section-title">
      <h2>Facts</h2>
      <p>
        Throughout my career, I have achieved significant milestones,
        consistently delivering high-quality work both independently and as part
        of diverse teams.
      </p>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
        data-aos="fade-up"
      >
        <div class="count-box">
          <i class="bi bi-emoji-smile"></i>
          <span
            data-purecounter-start="0"
            data-purecounter-end="35"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p><strong>Happy Clients</strong> from various projects</p>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <span
            data-purecounter-start="0"
            data-purecounter-end="35"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p><strong>Projects</strong> completed successfully</p>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="count-box">
          <i class="bi bi-headset"></i>
          <span
            data-purecounter-start="0"
            data-purecounter-end="15000"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p>
            <strong>Hours Of Support</strong> provided across various projects
          </p>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="count-box">
          <i class="bi bi-people"></i>
          <span
            data-purecounter-start="0"
            data-purecounter-end="65"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p><strong>Hard Workers</strong> collaborated with over the years</p>
        </div>
      </div>
    </div>
  </div>
</section>
